@charset "UTF-8";
html {
  font-size: 18px;
}

.top-header {
  width: 100vw;
  height: 4vh;
  display: flex;
}
.top-header .social-icon {
  display: flex;
  width: 25vw;
  position: relative;
  top: 2vh;
  left: 3vw;
}
.top-header .social-icon p {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1rem;
  line-height: 1.3rem;
}
.top-header .social-icon img {
  width: 22px;
  height: 22px;
}
.top-header .number-phone {
  display: flex;
  height: 2vh;
  position: relative;
  top: 2vh;
  left: 0vw;
}
.top-header .number-phone p {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1rem;
  line-height: 1rem;
}
.top-header nav {
  width: 40vw;
  position: relative;
  top: 2vh;
  left: 22vw;
}
.top-header nav ul {
  display: flex;
  justify-content: space-around;
}
.top-header nav ul a {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1rem;
  text-decoration: none;
}
.top-header nav ul :nth-child(1) a {
  border-bottom: 2px solid #44c697;
}

.bottom-header {
  width: 100vw;
  height: 9vh;
  display: flex;
}
.bottom-header nav {
  width: 40vw;
  position: relative;
  top: 3vh;
  left: 3vw;
}
.bottom-header nav ul {
  display: flex;
  justify-content: space-around;
}
.bottom-header nav ul a {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1rem;
  text-decoration: none;
}
.bottom-header nav ul img {
  width: 17px;
  height: 17px;
}
.bottom-header .logo {
  width: 19vw;
  position: relative;
  top: 0vh;
  left: 7vw;
}
.bottom-header .button-call {
  width: 23vw;
  display: flex;
  position: relative;
  top: 2vh;
  left: 17vw;
  justify-content: space-around;
}
.bottom-header .button-call img {
  width: 29px;
  height: 20px;
  position: relative;
  top: 1vh;
  left: 0vw;
}
.bottom-header .button-call h5 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1rem;
  position: relative;
  top: 1vh;
  left: 0vw;
}
.bottom-header .button-call button {
  width: 15vw;
  height: 4vh;
  background-color: #44c697;
  border: none;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1rem;
}

.slider {
  width: 100vw;
  height: 60vh;
  background-image: url("./img/slider/Rectangle 137.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.slider .left-baner {
  width: 24vw;
  height: 50vh;
  background-color: #ffffff;
  position: relative;
  top: 0vh;
  left: 2.5vw;
  border-left: 15px solid #44c697;
}
.slider .left-baner h1 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 3.5rem;
  text-align: center;
  position: relative;
  top: 5vh;
  left: 0vw;
}
.slider .left-baner h3 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 2rem;
  text-align: center;
  position: relative;
  top: 10vh;
  left: 0vw;
}
.slider .left-baner p {
  width: 23vw;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #1e2e36;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  position: relative;
  top: 10vh;
  left: 0.5vw;
}
.slider .left-baner button {
  width: 14vw;
  height: 4vh;
  background-color: #44c697;
  border: none;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  top: 12vh;
  left: 20%;
}
.slider .left-baner .counter {
  display: flex;
  position: relative;
  top: 14vh;
  left: 40%;
}
.slider .left-baner .counter h3 {
  position: relative;
  top: 0vh;
  left: 0vw;
}
.slider .left-baner .counter h4 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1.5rem;
  line-height: 2rem;
}
.slider .left-baner .arrow {
  position: relative;
  top: 14vh;
  left: 40%;
}

.our-advantage .our-advantage-header {
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 10vh;
  left: 40vw;
}
.our-advantage .our-advantage-header h2 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 3.3rem;
  position: absolute;
}
.our-advantage .our-advantage-header div {
  width: 20px;
  height: 50px;
  background-color: #44c697;
}
.our-advantage .our-advantage-photo {
  width: 100vw;
  height: 27vh;
  display: flex;
  justify-content: space-around;
}
.our-advantage .our-advantage-photo .first-photo {
  width: 30vw;
  background-image: url("./img/переваги/Rectangle 172.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.our-advantage .our-advantage-photo .first-photo h3 {
  width: 27vw;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
  position: relative;
  top: 20vh;
  left: 1vw;
  border-bottom: 4px solid #44c697;
}
.our-advantage .our-advantage-photo .second-photo {
  width: 30vw;
  background-image: url("./img/переваги/Rectangle 169.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.our-advantage .our-advantage-photo .second-photo h3 {
  width: 9vw;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
  position: relative;
  top: 14vh;
  left: 2vw;
  border-bottom: 4px solid #44c697;
}
.our-advantage .our-advantage-photo .second-photo p {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  width: 25vw;
  position: relative;
  top: 14vh;
  left: 2vw;
  line-height: 1.5rem;
}
.our-advantage .our-advantage-photo .third-photo {
  width: 30vw;
  background-image: url("./img/переваги/Rectangle 170.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.our-advantage .our-advantage-photo .third-photo h3 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 2rem;
  width: 30vw;
  position: relative;
  top: 20vh;
  left: 0vw;
  border-bottom: 4px solid #44c697;
}

.product-categories .product-categories-header {
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 10vh;
  left: 40vw;
}
.product-categories .product-categories-header h2 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 3.3rem;
  position: absolute;
}
.product-categories .product-categories-header div {
  width: 20px;
  height: 50px;
  background-color: #44c697;
}
.product-categories .categories-icons {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}
.product-categories .categories-icons :nth-child(2) p {
  border-bottom: 2px solid #44c697;
}
.product-categories .categories-icons p {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1.5rem;
  text-align: center;
}
.product-categories .categories-photo .photo-first-line {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.product-categories .categories-photo .photo-first-line div {
  width: 30vw;
}
.product-categories .categories-photo .photo-first-line div img {
  width: 30vw;
}
.product-categories .categories-photo .photo-second-line {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.product-categories .categories-photo .photo-second-line :nth-child(3) {
  background-color: #44c697;
}
.product-categories .categories-photo .photo-second-line :nth-child(3) h5,
.product-categories .categories-photo .photo-second-line :nth-child(3) :nth-child(2) {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1.3rem;
}
.product-categories .categories-photo .photo-second-line div {
  width: 30vw;
}
.product-categories .categories-photo .photo-second-line div img {
  width: 30vw;
}
.product-categories .categories-photo .title-bed {
  display: flex;
  text-align: center;
  height: 4vh;
  display: flex;
  align-self: center;
  justify-content: space-between;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1.3rem;
}
.product-categories .categories-photo .title-bed :nth-child(3) {
  color: #bcbdbb;
  text-decoration: line-through;
}
.product-categories .categories-photo h5 {
  align-self: center;
}
.product-categories .categories-photo span {
  align-self: center;
}
.product-categories .categories-photo .sale-color {
  color: #ff1b1b;
}
.product-categories button {
  width: 10vw;
  height: 4vh;
  background-color: #44c697;
  border: none;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  top: 5vh;
  left: 45vw;
}

.about-us .about-us-header {
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 13vh;
  left: 45vw;
}
.about-us .about-us-header h2 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 3.3rem;
  position: absolute;
}
.about-us .about-us-header div {
  width: 20px;
  height: 50px;
  background-color: #44c697;
}
.about-us .about-text-photo {
  width: 100vw;
}
.about-us .about-text-photo .about-us-photo {
  width: 80vw;
  height: 60vh;
  background-image: url("./img/проНас/Rectangle 174.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  top: 0vh;
  left: 20vw;
}
.about-us .about-text-photo .about-us-photo .about-us-text div {
  width: 40vw;
  height: 40vh;
  padding-top: 5rem;
  background-color: #ffffff;
  overflow: scroll;
  border-right: 13px solid #44c697;
  position: relative;
  top: 5vh;
  left: -10vw;
}
.about-us .about-text-photo .about-us-photo .about-us-text div p {
  width: 37vw;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #1e2e36;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  letter-spacing: 0.07rem;
}
.about-us .about-text-photo .about-us-photo .about-us-text div p span {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #44c697;
  font-size: 1rem;
}

.application .application-header {
  width: 100vw;
  height: 20vh;
  position: relative;
  top: 9vh;
  left: 35vw;
}
.application .application-header h2 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 3.3rem;
  position: absolute;
}
.application .application-header div {
  width: 20px;
  height: 50px;
  background-color: #44c697;
}
.application .application-form-photo .application-photo {
  width: 80vw;
  height: 60vh;
  background-image: url("./img/формаЗаявки/Rectangle 175.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.application .application-form-photo .application-photo .application-form {
  width: 19vw;
  height: 30vh;
  padding: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #ffffff;
  border-left: 10px solid #44c697;
  position: relative;
  top: 15vh;
  left: 70vw;
}
.application .application-form-photo .application-photo .application-form h3 {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 2rem;
  text-align: center;
}
.application .application-form-photo .application-photo .application-form input {
  border: 1px solid #1e2e36;
  border-radius: 3px;
  height: 3vh;
}
.application .application-form-photo .application-photo .application-form button {
  width: 19vw;
  height: 4vh;
  background-color: #44c697;
  border: none;
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #ffffff;
  font-size: 1rem;
}
.application .application-form-photo .application-photo .application-form p {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #1e2e36;
  font-size: 1rem;
  line-height: 1.2rem;
}
.application .application-form-photo .application-photo .application-form p span {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 700;
  color: #1e2e36;
  font-size: 1rem;
}

.footer {
  display: flex;
}

.footer-dark-side {
  width: 40vw;
  height: 50vh;
  display: flex;
  background-color: #1e2e36;
}
.footer-dark-side .nav-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 2vh;
  left: 2vw;
}
.footer-dark-side .nav-list div {
  display: flex;
}
.footer-dark-side .nav-list div ul {
  margin: 1vh;
}
.footer-dark-side .nav-list div ul a {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  line-height: 2rem;
  text-decoration: none;
}
.footer-dark-side .nav-list span {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
}
.footer-dark-side .contacts-list ul {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  top: 15vh;
  left: 2vw;
}
.footer-dark-side .contacts-list ul li {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
}
.footer-dark-side .contacts-list ul :nth-child(3) {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #44c697;
  font-size: 1rem;
}
.footer-dark-side .contacts-list span {
  font-family: "Proxima Nova Condensed Regular", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 1rem;
  position: relative;
  top: 25vh;
  left: 2vw;
}

.footer-right {
  width: 60vw;
  height: 50vh;
  background-image: url("./img/футер/Rectangle 176.png");
  background-size: cover;
  background-repeat: no-repeat;
}/*# sourceMappingURL=main.css.map */